{% extends "base.html" %}


{% block title %}
Homepage | Best Buy
{% endblock %}


{% block content %}

<main>
    <section class="hero">
        <div class="container hero__content">

            <span class="hero__label">
                TECH STORE
            </span>

            <h1 class="hero__title">
                Technology made simple.
            </h1>

            <p class="hero__text">
                Discover our selection of laptops,
                smartphones and audio products.
            </p>

            <a
                href="/products"
                class="btn btn-primary btn-lg hero__button"
            >
                Shop products
            </a>

        </div>
    </section>
</main>

{% endblock %}